<h1>Todo Management</h1>
<h2>All tasks</h2>
<!-- Show Todo table -->
<div>
    <table>
        <th *ngFor="let index of todoTableIndex">{{index}}</th>
        <tr *ngFor="let task of tasks">
            <td>{{task.id}}</td>
            <td>{{task.title}}</td>
            <td>{{task.deadline}}</td>
            <td>{{task.taskType.type}}</td>
            <td><a type="button" [routerLink]="['/update', task.id]">edit</a></td>
            <td>
                <form method="POST">
                    <input type="hidden" name="taskId">
                    <input type="submit" value="delete">
                </form>
            </td>
            <!-- <td>
      <form method="GET">
        <input type="hidden" name="taskId">
        <input type="submit" value="copy">
      </form>
    </td> -->
        </tr>
    </table>
</div>
<br>
<!-- Filter tasks by taskId -->
<!-- 
  
 -->
<!-- Create new task -->
<h2>Create new task</h2>
<form #task="ngForm" (ngSubmit)="createTask(task)">
    <label>please select task type </label>
    <select name="typeId" ngModel required>
        <option value="1">urgent</option>
        <option value="2">important</option>
        <option value="3">if possible</option>
    </select>
    <br>
    <label>todo: </label>
    <input type="text" name="title" ngModel required>
    <br>
    <label>detail： </label>
    <input type="text" name="detail" ngModel required><br>
    <label>deadline： </label>
    <input type="datetime-local" name="deadline" ngModel required><br>
    <input type="hidden" name="taskId" ngModel>
    <!-- <button>create</button> -->
    <input type="submit" name="create" value="create" [disabled]="task.invalid">
</form>
